.header {
  padding-bottom: 20px;
}

.header > .brand-name {
  color: #777;
}

#de-top {
  height: 500px;
  padding: 10%;
  background: url(../../images/online/diff-eq/back.png);
}

#de-top, #de-top small {
  color: white;
}

#de-form {
  padding: 5%;
}

#de-form .input-small {
  width: 20%;
}

.form-control#de-t0, .form-control#de-y0 {
  /*width: 70%;*/
}

#de-btn {
  margin-top: 30px;
}

.input-range {
  -webkit-appearance: none;
  background: #fafdff;
  color: red;
  border: 1px solid #e6eef2;
  margin: 10px auto;
  outline: none;
  /*box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);*/
  border-radius: 5px;
  height: 10px;
}

.input-range::-webkit-slider-thumb {
  height: 14px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9e5eb;
  width: 14px;
  border-radius: 7px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, .2);
  -webkit-transition: box-shadow 500ms ease;
}

.input-range:focus::-webkit-slider-thumb {
box-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
}
